/**Règles des feuilles de style des Quiz */

.main-page {
    background-size: cover;
    font-family: 'Roboto';
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.quiz-container {
    background-color: #343A40;
    width: 600px;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(100,100,100,.2);
    color: white;
}

.quiz-header {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 1rem 0;
    font-size: 1.2rem;
}

ul li label {
    cursor: pointer;
}

#submit {
    background-color: #D78C47;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.5rem;
    border: none;
    display: block;
    width: 100%;
    padding: 1.3rem;
}

#submit:hover {
    background-color: #B3757A;
    transition: background-color .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


@media only screen and (max-width: 635px) {
    .quiz-container {
        width: 90%;
    }

    .quiz-header h1, .quiz-container h2 {
        font-size: 1.4rem;
    }
}