<<<<<<< HEAD
/*****************Site créé par David M
 * Règles générales
 */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #343A40!important;
}

/**NAV */

.navbar-nav {
    font-size: large;
    margin-left: 10px;
}

.nav-link:hover {
    color: rgba(255,215,0,.8) !important;
    transition: color .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/**HEADER */

.container h1 {
    font-family: 'Cinzel';
    font-weight: bold;
    color: rgba(255,215,0,.8);
    text-shadow: 2px 2px 0  black;
}

.container p {
    font-family: 'Roboto';
}

.container img {
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/**MAIN */

main p {
    color: white;
}

main img {
    width: 100%;
}

/**FOOTER */

.copyright {
    color: white;
    font-size: 21px;
}

.social-list {
    list-style: none;
}

.social-list .social-item {
    display: inline-block;
    padding: 10px;
}

.social-list .social-item a {
    font-size: 21px;
    color: white;
}

.social-list .social-item a:hover {
    color: rgba(255,215,0,.8);
    transition: color cubic-bezier(0.445, 0.05, 0.55, 0.95);
}


/**MEDIA QUERY */

@media only screen and (max-width: 1023px) {
    .container img {
        width: 500px;
        height: 100px;
    }

    main .img-main .logo{
        width: 256px;
        height: 154px;
    }
}

@media only screen and (max-width: 767px) {
    .container h1{
        font-size: xx-large;
    }

    .container p {
        font-size: 1rem;
    }

    .container img {
        width: 280px;
        height: 69px;
    }

    .social-list .social-item {
        padding: 5px;
    }

    .social-list .social-item a {
        font-size: 18px;
    }
}


=======
/*****************Site créé par David M
 * Règles générales
 */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #343A40!important;
}

/**NAV */

.navbar-nav {
    font-size: large;
    margin-left: 10px;
}

.nav-link:hover {
    color: rgba(255,215,0,.8) !important;
    transition: color .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/**HEADER */

.container h1 {
    font-family: 'Cinzel';
    font-weight: bold;
    color: rgba(255,215,0,.8);
    text-shadow: 2px 2px 0  black;
}

.container p {
    font-family: 'Roboto';
}

.container img {
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/**MAIN */

main p {
    color: white;
}

main img {
    width: 100%;
}

/**FOOTER */

.copyright {
    color: white;
    font-size: 21px;
}

.social-list {
    list-style: none;
}

.social-list .social-item {
    display: inline-block;
    padding: 10px;
}

.social-list .social-item a {
    font-size: 21px;
    color: white;
}

.social-list .social-item a:hover {
    color: rgba(255,215,0,.8);
    transition: color cubic-bezier(0.445, 0.05, 0.55, 0.95);
}


/**MEDIA QUERY */

@media only screen and (max-width: 1023px) {
    .container img {
        width: 500px;
        height: 100px;
    }

    main .img-main .logo{
        width: 256px;
        height: 154px;
    }
}

@media only screen and (max-width: 767px) {
    .container h1{
        font-size: xx-large;
    }

    .container p {
        font-size: 1rem;
    }

    .container img {
        width: 280px;
        height: 69px;
    }

    .social-list .social-item {
        padding: 5px;
    }

    .social-list .social-item a {
        font-size: 18px;
    }
}


>>>>>>> e49a3b26eda54f054c839317d0588a42458f5c7b
